future==0.16.0
jaconv==0.2.1
JapaneseTokenizer==1.3.5
mecab-python3==0.7
neologdn==0.2.1
numpy==1.13.3
olefile==0.44
pexpect==4.2.1
Pillow==4.3.0
ptyprocess==0.5.2
pyknp==0.3
pypandoc==1.4
PyYAML==3.12
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
torch==0.2.0.post3
torchvision==0.1.9
typing==3.6.2
